.logo {
	height: 3.5rem;
	margin-left: 2rem;
}

.search-bar {
	display: flex;
	justify-content: center;
	align-items: center;

	flex: 0 0 40%;

	&__input{
		font-family: inherit;
		font-size: inherit;
		color: inherit;

		height: 2rem;
		background-color: var(--color-grey-light-2);
		border: none;
		border-radius: 100px;
		padding: 2.2rem 2.2rem;
		flex-basis: 80%;

		margin-right: -3.8rem; // Keep search icon inside the search bar

		transition: all .3s ease;

		&::placeholder {
			color: var(--color-grey-dark-2);
		}

		&:focus {
			outline: none;
			flex-basis: 100%;
		}
	}

	&__button {
		display: flex;
		align-items: center;
		border: none;
		border-radius: 50%;
		padding: 0.6rem;
		background-color: var(--color-primary-light);

		&:active {

		}

		&:focus,
		&:hover {
			outline: none;
			filter: brightness(.95);
		}
	}

	&__icon {
		height: 2rem;
		width: 2rem;
		fill: var(--color-white);
	}
}

.user-nav {
	align-self: stretch;

	display: flex;
	align-items: stretch;

	// Direct children
	& > * {
		padding: 0 2rem;
		cursor: pointer;

		display: flex;
		align-items: center;

		&:hover {
			background-color: var(--color-grey-light-2);
		}
	}

	&__icon-box {
		position: relative;
	}

	&__icon {
		height: 2.25rem;
		width: 2.25rem;
		fill: var(--color-grey-dark-2);
	}

	&__notification {
		background-color: var(--color-primary-light);
		color: var(--color-white);
		border-radius: 50%;
		padding: 2px;
		display: inline-block;
		text-align: center;
		width: 2rem;
		height: 2rem;
		font-size: 1rem;
		position: absolute;
		top: 1rem;
		right: .8rem;
	}

	&__user-photo {
		height: 3.6rem;
		border-radius: 50%;
	}
}
