.btn {
	cursor: pointer;
	text-align: center;

	&--inline {
		border: none;
		font-size: inherit;
		background-color: inherit;
		color: var(--color-primary);
		border-bottom: 1px solid currentColor;

		span {
			margin-left: 2px;
			transition: margin-left .2s;
		}

		&:hover {
			color: var(--color-grey-dark-1);

			span {
				margin-left: 6px;
			}
		}
	}
}

.logo {
	height: 3.5rem;
	margin-left: 2rem;
}

.search-bar {
	display: flex;
	justify-content: center;
	align-items: center;

	flex: 0 0 40%;

	@include adapt(bp-medium) {
		flex: 0 0 50%;
	}

	@include adapt(bp-small) {
		order: 1;
		flex: 0 0 100%;
		justify-content: stretch;
	}

	&__input{
		font-family: inherit;
		font-size: inherit;
		color: inherit;

		height: 2.4rem;
		background-color: var(--color-grey-light-2);
		border: none;
		border-radius: 100px;
		padding: 2.2rem 2.2rem;
		flex-basis: 80%;

		margin-right: -3.8rem; // Keep search icon inside the search bar

		transition: all .3s ease;

		@include adapt(bp-small) {
			flex-basis: 100%;
			border-radius: 0;
		}

		&::placeholder {
			color: var(--color-grey-dark-2);
		}

		&:focus {
			outline: none;
			flex-basis: 100%;
		}
	}

	&__button {
		display: flex;
		align-items: center;
		border: none;
		border-radius: 50%;
		padding: 0.6rem;
		background-color: var(--color-primary-light);
		position: relative;


		&:active {

		}

		&:focus,
		&:hover {
			outline: none;
			filter: brightness(.95);
		}

		&:focus::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 3.6rem;
			height: 3.6rem;
			z-index: 200;
			border: 1px solid blue;
			border-radius: 62%;
			transform: translate(-51%,-51%);
			box-sizing: border-box;
			box-shadow: 0 0 1px 0px blue;
		}
	}

	&__icon {
		height: 2rem;
		width: 2rem;
		fill: var(--color-white);
	}
}

.user-nav {
	align-self: stretch;

	display: flex;
	align-items: stretch;

	// Direct children
	& > * {
		padding: 0 2rem;
		cursor: pointer;

		display: flex;
		align-items: center;

		&:hover {
			background-color: var(--color-grey-light-2);
		}
	}

	&__icon-box {
		position: relative;
	}

	&__icon {
		height: 2.25rem;
		width: 2.25rem;
		fill: var(--color-grey-dark-2);
	}

	&__notification {
		background-color: var(--color-primary-light);
		color: var(--color-white);
		border-radius: 50%;
		padding: 2px;
		display: inline-block;
		text-align: center;
		width: 2rem;
		height: 2rem;
		font-size: 1rem;
		position: absolute;
		top: 1rem;
		right: .8rem;
	}

	&__user-photo {
		height: 3.6rem;
		border-radius: 50%;
	}
}

.side-nav {
	margin-top: 2.2rem;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	@include adapt(bp-large) {
		margin-top: 0;
		flex-direction: row;
		justify-content: space-between;
		height: 6rem;
	}

	&__item {
		position: relative;

		@include adapt(bp-large) {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&:not(:last-child) {
			margin-bottom: 1.2rem;

			@include adapt(bp-large) {
				margin-bottom: 0;
			}
		}

		&::before {
			content: "";
			height: 100%;
			width: 4px;
			position: absolute;
			top: 0;
			left: 0;

			background-color: var(--color-primary);

			transform: scaleY(0);
			// center is the default value but we add it as a reminder
			transform-origin: center;

			transition:	transform .2s ease,
									width .2s ease-out .2s,
									background-color .1s;
		}

		&:hover::before,
		&--active::before {
			width: 100%;
			transform: scaleY(1);
		}

		&:active::before {
			background-color: var(--color-primary-light);
		}

	}

	&__link {
		&:link,
		&:visited {
			color: var(--color-grey-light-1);
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1.4rem;

			padding: 1.2rem 2rem;

			display: flex;
			justify-content: flex-start;
			align-items: center;

			position: relative;
			z-index: 10;

			@include adapt(bp-large) {
				justify-content: center;
			}

			@include adapt(bp-small) {
				flex-direction: column;
			}
		}
	}

	&__icon {
		width: 2rem;
		height: 2rem;
		fill: currentColor;
		margin-right: 2rem;

		@include adapt(bp-small) {
			width: 1.6rem;
			height: 1.6rem;
			margin-right: 0;
			margin-bottom: .2rem;
		}
	}

	&__title {
		color: var(--color-white);
	}
}

.gallery {
	display: flex;

	&__item {
		position: relative;
	}

	&__image {
		width: 100%;
		display: block;
	}

	&__caption {
		position: absolute;
		bottom: 0rem;
		left: 0rem;
		display: block;
		width: 100%;
		padding: 0.4rem 1rem;
		background-color: rgba(255,255,255,.7);
		color: var(--color-grey-dark-1);
		opacity: 0;
		transition: all .5s ease;
	}

	&__item:hover &__caption {
		opacity: 1;
	}
}

.overview {
	display: flex;
	align-items: center;

	background-color: var(--color-white);

	border-bottom: var(--line);

	&__heading {
		margin: 0 2rem;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 2.4rem;

		@include adapt(bp-small) {
			font-size: 2rem;
		}
	}

	&__stars {
		display: flex;
		align-items: center;
		margin-right: auto;
	}

	&__icon-star,
	&__icon-position {
		width: 2rem;
		height: 2rem;
		fill: var(--color-primary);
	}

	&__location {
		display: flex;
		align-items: center;

		margin-right: 2rem;
	}

	&__icon-position {
		margin-right: .4rem;
	}

	&__rating {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		align-self: stretch;

		background-color: var(--color-primary);
		color: var(--color-white);

		padding: 1.2rem 1.6rem;

		@include adapt(bp-small) {
			padding: 1.2rem 1rem;
		}
	}

	&__rating-average{
		font-size: 2.4rem;
		line-height: 1;
		margin-bottom: .4rem;
	}

	&__rating-count {
		font-size: 1.2rem;
		font-weight: 300;
		text-align: center;

		@include adapt(bp-small) {
			font-size: 1rem;
		}
	}
}

.paragraph {
	&:not(:last-of-type) {
		margin-bottom: 2rem;
	}
}

.list {
	list-style: none;
	margin: 3.2rem 0;
	border-top: var(--line);
	border-bottom: var(--line);
	padding: 2rem;

	display: flex;
	flex-wrap: wrap;

	&__item {
		flex: 0 0 50%;
		margin-bottom: 1rem;

		display: flex;
		align-items: center;

		&::before {
			content: "";
			display: inline-block;
			width: 1.2rem;
			height: 1.2rem;
			margin-right: .8rem;


			// TODO : use a feature query
			//background-image: url(/img/chevron-thin-right.svg);
			//background-size: cover;
			//background-repeat: no-repeat;

			background-color: var(--color-primary);
			-webkit-mask-image: url(/img/chevron-thin-right.svg);
			mask-image: url(/img/chevron-thin-right.svg);
			-webkit-mask-size: cover;
			mask-size: cover;
		}
	}
}

.recommand {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__friends {
		display: flex;
	}

	&__photo {
		width: 4rem;
		height: 4rem;
		border: 2px solid var(--color-white);
		border-radius: 50%;
		box-sizing: content-box;

		&:not(:first-child) {
			margin-left: -2rem;
		}
	}
}

.review {
	//flex: 0 0 35%;
	margin-bottom: var(--margin-details);
	background-color: var(--color-white);
	box-shadow: var(--shadow-light);
	padding: 3.2rem;
	position: relative;

	&::before {
		display: block;
		content: "\201C";
		font-size: 18rem;
		line-height: 1;
		color: var(--color-grey-light-2);
		position: absolute;
		top: -2.4rem;
		left: -1.4rem;
		font-family: sans-serif;
	}

	&__comment {
		margin-bottom: 2rem;
		position: relative;
		z-index: 10;
	}

	&__data {
		display: flex;
		align-items: center;
	}

	&__user-photo {
		width: 4.2rem;
		height: 4.2rem;
		border-radius: 50%;
		margin-right: 1.6rem;
	}

	&__user-info {
		margin-right: auto;
		font-size: 1.2rem;
	}

	&__user-name {
		text-transform: uppercase;
		font-weight: 600;
	}

	&__date {
		font-weight: 300;
	}

	&__rating {
		font-size: 2.2rem;
		font-weight: 300;
		color: var(--color-primary);
	}
}

.cta {
	background-color: var(--color-white);
	padding: 3rem;
	text-align: center;

	&__message {
		font-size: 2rem;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 2rem;
	}

	&__button {
		border: none;
		width: 20rem;
		padding: 2rem;
		text-transform: uppercase;
		border-radius: 50px;
		background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
		color: var(--color-white);
		font-size: 1.6rem;
		font-weight: 300;
		cursor: pointer;
		position: relative;
		overflow: hidden;

		&:hover {
			background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
		}
	}

	&__button-text {
		display: inline-block;
		transition: all .5s ease;

		&--1 {
			opacity: 1;
			transform: translateY(0);
		}

		&--2 {
			position: absolute;
			top: 50%;
			left: 50%;
			opacity: 0;
			transform: translate(-50%, -180%);
		}
	}

	&__button:hover &__button-text--1 {
			opacity: 0;
			transform: translateY(5rem);
	}

	&__button:hover &__button-text--2 {
			opacity: 1;
			transform: translate(-50%, -50%);
	}

}
