.container {
	height: 100%;
	overflow: hidden;
}

.header {
	background-color: var(--color-white);
	height: 7rem;
	border-bottom: var(--line);

	display: flex;
	justify-content: space-between;
	align-items: center;

	position: sticky;
	top: 0;
}

.content {
	display: flex;

	@include adapt(bp-large) {
		flex-direction: column;
	}
}

.sidebar{
	background-color: var(--color-grey-dark-1);

	flex: 0 0 20%; // do not shrink

	position: sticky;
	top: 0;
}

.hotel-view {
	background-color: var(--color-grey-light-1);
	height: calc(100vh - 7rem);
	overflow-y: auto;

	flex: 1; // takes remaining place on the main axis

	@include adapt(bp-large) {
		height: calc(100vh - 7rem - 6rem); // viewport - header - sidebar
		flex-basis: auto;
	}
}

.details {
	display: flex;
	padding: var(--margin-details);

	@include adapt(bp-medium) {
		flex-direction: column;
		align-items: center;
	}
}

.description {
	flex: 0 0 60%;
	margin-right: var(--margin-details);
	background-color: var(--color-white);
	padding: 3rem;
	box-shadow: var(--shadow-light);

	@include adapt(bp-medium) {
		margin-right: 0;
		margin-bottom: var(--margin-details);
	}
}

.user-reviews {
	flex: 1;

	display: flex;
	flex-direction: column;
	align-items: center;

	&__show-all {
		flex: 1;
		text-align: center;
	}
}
