.header {
	background-color: var(--color-white);
	height: 7rem;
	border-bottom: 1px solid  var(--color-grey-light-4);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	min-height: 100vh;
	display: flex;
}

.sidebar{
	background-color: var(--color-grey-dark-1);

	flex: 0 0 20%; // do not shrink
}

.hotel-view {
	background-color: var(--color-grey-light-1);

	flex: 1; // takes remaining place on the main axis
}

.search-bar {
	// background-color: orangered;
	display: flex;
	justify-content: center;
	align-items: center;

	flex: 0 0 40%;

	&__input{
		font-family: inherit;
		font-size: inherit;
		color: inherit;

		height: 2rem;
		background-color: var(--color-grey-light-2);
		border: none;
		border-radius: 100px;
		padding: 2.2rem 2.2rem;
		flex-basis: 80%;

		margin-right: -3.8rem;

		transition: all .5s ease;

		&:focus {
			outline: none;
			flex-basis: 100%;
		}
	}

	&__button {
		display: flex;
		align-items: center;
		border: none;
		border-radius: 50%;
		padding: 0.6rem;
		background-color: var(--color-primary-light);

		&:active {

		}

		&:focus,
		&:hover {
			outline: none;
			filter: brightness(.95);
		}
	}

	&__icon {
		height: 2rem;
		width: 2rem;
		fill: var(--color-white);
	}
}

.user-nav {
	display: flex;
	align-items: center;

	&__icon {
		height: 2.25rem;
		width: 2.25rem;
	}

	&__user-photo {
		height: 3.6rem;

	}
}
